<div class="col-md-6 col-md-offset-3">
    <h2>Registre-se</h2>
    <form name="form" ng-submit="vm.register()" role="form">
        <!-- alterado firstName para Name -->
        <div class="form-group" ng-class="{ 'has-error': form.Name.$dirty && form.Name.$error.required }">
            <label for="Name">Nome completo</label>
            <input type="text" name="Name" id="Name" class="form-control" ng-model="vm.user.Name" required />
            <span ng-show="form.Name.$dirty && form.Name.$error.required" class="help-block">Nome completo é necessário</span>
        </div>
        <!-- alterado lastName para email -->
        <div class="form-group" ng-class="{ 'has-error': form.Email.$dirty && form.Email.$error.required }">
            <label for="Email">Email</label>
            <input type="text" name="Email" id="Email" class="form-control" ng-model="vm.user.Email" required />
            <span ng-show="form.Email.$dirty && form.Email.$error.required" class="help-block">Email é necessário</span>
        </div>
        <!-- alterado username para password -->
        <div class="form-group" ng-class="{ 'has-error': form.Password.$dirty && form.password.$error.required }">
            <label for="Password">Senha</label>
            <input type="password" name="Password" id="Password" class="form-control" ng-model="vm.user.Password" required />
            <span ng-show="form.Password.$dirty && form.Password.$error.required" class="help-block">Senha é necessária</span>
        </div>
        <!-- alterado password para confirmPassword -->
        <div class="form-group" ng-class="{ 'has-error': form.ConfirmPassword.$dirty && form.password.$error.required }">
            <label for="ConfirmPassword">Confirmar senha</label>
            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" ng-model="vm.user.ConfirmPassword" required />
            <span ng-show="form.ConfirmPassword.$dirty && form.ConfirmPassword.$error.required" class="help-block">Confirmar senha é necessário</span>
        </div>
        <div ng-class="{ 'has-error': form.AcceptTerms.$dirty && form.AcceptTerms.$error.required }">
            <label for="AcceptTerms">Li e Aceito os Termos de Uso</label>
            <input type="checkbox" name="AcceptTerms" id="AcceptTerms" ng-model="vm.user.AcceptTerms" required />
            <span ng-show="form.AcceptTerms.$dirty && form.AcceptTerms.$error.required" class="help-block">Você deve ler e aceitar os termos de continuar</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Registrar</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>